# Logging level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=log_level_here

# Discord Bot Configuration
DISCORD_API_TOKEN=your_discord_bot_token_here

# Discord Application ID
DISCORD_APPLICATION_ID=your_discord_application_id_here

# Discord Public Key
DISCORD_PUBLIC_KEY=your_discord_public_key_here

# LeetCode Daily Task Configuration
LEETCODE_FORUM_ID=your_forum_id_here

# Event Notifications Configuration
COMMUNITY_EVENTS_CHANNEL_ID=your_community_events_channel_id_here

# Welcome Messages Configuration
SAY_HI_CHANNEL=your_say_hi_channel_here

# Azure Storage Account Connection String
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string_here

# YouTube Live Scheduling Configuration
YOUTUBE_CLIENT_ID=your_google_oauth_client_id_here
YOUTUBE_CLIENT_SECRET=your_google_oauth_client_secret_here
YOUTUBE_REFRESH_TOKEN=your_google_oauth_refresh_token_here
YOUTUBE_STREAM_ID=your_reusable_youtube_stream_id_here
